<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zlk.blog.mapper.BlogMapper" >
  <resultMap id="BaseResultMap" type="com.zlk.blog.entity.Blog" >
    <id column="bId" property="bid" jdbcType="VARCHAR" />
    <result column="bTitle" property="btitle" jdbcType="VARCHAR" />
    <result column="bDate" property="bdate" jdbcType="TIME" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.zlk.blog.entity.Blog" extends="BaseResultMap" >
    <result column="bData" property="bdata" jdbcType="LONGVARCHAR" />
  </resultMap>

  <resultMap id="ModelTo" type="com.zlk.blog.model.EssayModelTo" >
    <id column="bid" property="bid" jdbcType="VARCHAR" />
    <result column="btitle" property="btitle" jdbcType="VARCHAR" />
    <result column="bdata" property="bdata" jdbcType="LONGVARCHAR" />
    <result column="bdate" property="bdate" jdbcType="TIME" />
    <result column="browse" property="browse" jdbcType="VARCHAR" />
    <result column="nickname" property="nickname" jdbcType="VARCHAR" />
    <result column="uid" property="uid" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="groupByDate" type="com.zlk.blog.model.ArticleByDate">
    <id column="byear" property="year" jdbcType="VARCHAR"></id>
    <collection property="months" ofType="com.zlk.blog.model.ArticleByDate" javaType="java.util.ArrayList">
      <id column="bmonth" property="month" jdbcType="VARCHAR"></id>
      <collection property="blogs" ofType="com.zlk.blog.entity.Blog" javaType="java.util.ArrayList">
        <result property="btitle" column="bTitle" jdbcType="VARCHAR"></result>
        <result property="bdate" column="bDate" jdbcType="VARCHAR"></result>
      </collection>
    </collection>
  </resultMap>

  <select id="selectGroupByDate" resultMap="groupByDate">
    select year(b.bDate) byear, month(b.bDate) bmonth,b.bTitle,b.bDate
    from tb_blog b
    group by byear,bmonth,b.bTitle,b.bDate
  </select>
  <sql id="Base_Column_List" >
    bId, bTitle, bDate
  </sql>
  <sql id="Blob_Column_List" >
    bData
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_blog
    where bId = #{bid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_blog
    where bId = #{bid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zlk.blog.entity.Blog" >
    insert into tb_blog (bId, bTitle, bDate, 
      bData,bSummary,cover)
    values (#{bid,jdbcType=VARCHAR}, #{btitle,jdbcType=VARCHAR}, #{bdate,jdbcType=TIME}, 
      #{bdata,jdbcType=LONGVARCHAR},#{bSummary,jdbcType=VARCHAR},#{cover,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zlk.blog.entity.Blog" >
    insert into tb_blog
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bid != null" >
        bId,
      </if>
      <if test="btitle != null" >
        bTitle,
      </if>
      <if test="bdate != null" >
        bDate,
      </if>
      <if test="bdata != null" >
        bData,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bid != null" >
        #{bid,jdbcType=VARCHAR},
      </if>
      <if test="btitle != null" >
        #{btitle,jdbcType=VARCHAR},
      </if>
      <if test="bdate != null" >
        #{bdate,jdbcType=TIME},
      </if>
      <if test="bdata != null" >
        #{bdata,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <!-- 更新博客文章信息-->
  <update id="updateByPrimaryKeySelective" parameterType="com.zlk.blog.entity.Blog" >
    update tb_blog
    <set >
      <if test="btitle != null" >
        bTitle = #{btitle,jdbcType=VARCHAR},
      </if>
      <if test="bdate != null" >
        bDate = #{bdate,jdbcType=TIME},
      </if>
      <if test="bdata != null" >
        bData = #{bdata,jdbcType=LONGVARCHAR},
      </if>
      <if test="bSummary !=null">
        bSummary=#{bSummary,jdbcType=VARCHAR},
      </if>
      <if test="cover !=null">
        cover = #{cover,jdbcType=VARCHAR},
      </if>
    </set>
    where bId = #{bid,jdbcType=VARCHAR}
  </update>

  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zlk.blog.entity.Blog" >
    update tb_blog
    set bTitle = #{btitle,jdbcType=VARCHAR},
      bDate = #{bdate,jdbcType=TIME},
      bData = #{bdata,jdbcType=LONGVARCHAR}
    where bId = #{bid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zlk.blog.entity.Blog" >
    update tb_blog
    set bTitle = #{btitle,jdbcType=VARCHAR},
      bDate = #{bdate,jdbcType=TIME}
    where bId = #{bid,jdbcType=VARCHAR}
  </update>

  <!-- 查询博客列表信息-->
  <select id="selectArticles" parameterType="com.zlk.blog.model.ArticleSelect" resultType="com.zlk.blog.entity.Blog">
    select b.bId,b.bTitle,b.bData,b.bDate,b.bSummary,b.cover,u.nickname as author,g.gName as type
    from tb_blog b join tb_bgroup bg on b.bId=bg.bId join tb_group g on bg.gId=g.gId join tb_user u on g.uId = u.uId
    <where>
        <if test="bTitle!=null" >
            and b.bTitle like '%${bTitle}%'
        </if>
        <if test="group!=null">
            and (g.groupName like '%${group}%' or g.gId=#{group})
        </if>
        <if test="startTime!=null">
            and b.bDate between #{startTime} and #{endTime}
        </if>
        <if test="date!=null">
            and b.bDate like '${date}%'
        </if>
        <if test="bId!=null">
          and b.bId=#{bId}
        </if>
    </where>
    order by b.bId desc
  </select>


</mapper>