.c_container{
    width: 1100px;
    height: auto;
    overflow: auto;
    margin: 0 auto;
    background: ghostwhite;
    /*padding: 0px 30px;*/

}
b{
    cursor:pointer;
}
.c_cs{
    width: 200px;
    position: fixed;
    top: 0px;
}
.c_bs{
    width: 800px;
    float: right;
    height: auto;
    margin-right:50px;

}